.pregame {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background-color: aqua; */
    /* display: none; */
}

.game {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    /* background-color: aqua; */
}

.postgame {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    /* background-color: aqua; */
}

.postgame.enabled {
    display: block;
}

.pregame .game_title,
.game_about,
.start_button,
.game #timer,
.game #question,
.game #question_number,
.game .anwer_buttons {
    margin: 20px;
}

.pregame .game_title {
    font-weight: bold;
    font-size: 50px;
}

.pregame .game_about {
    font-weight: 500;
    font-size: 20px;
    margin-top: 40px;
}

.pregame .start_button {
    margin-top: 70px;
}

.game #timer {
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.game #question_number {
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);

}

.game #question {
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, 0);
}

.game .answer_buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.pregame.disabled {
    display: none;
}

.game.enabled {
    display: inline-block;
}

#countdown.enabled {
    display: inline-block;
}

#countdown {
    font-size: 200px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.postgame .yscore {
    font-weight: 500;
    font-size: 40px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.postgame #score {
    font-weight: 500;
    font-size: 60px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);

}

.postgame .postgame_buttons {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}
